*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto','sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e8f4f8;
}

.container{
    background-color: #ffffff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 6px 20px rgba(0, 0 , 0.1);
    width: 500px;
}


h1{
    font-size: 2.2rem;
    margin-bottom: 20px;
    font-weight: 700;
    color: #1a73e8;
    text-align: center;
}

.input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


input[type="text"]{
    width: 70%;
    padding: 12px;
    font-size: 1rem;
    border-radius: 8px;
    border: 2px solid #1a7e38;
    outline: none;
    transition: .3s;
}

input[type="text"]:focus{
    border-color: #1a73e8;
    box-shadow: 0 0 5px #0056b3;

}

button{
    padding: 12px 20px;
    background-color: #1a73e8;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: #0056b3;
}

ul{
    list-style: none;
    padding: 0;

}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1 px dashed #ccc;
    font-size: 1rem;
}

li button{
    background-color: transparent;
    color: #34a853;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.3s;
}

li button:hover{
    background-color: #0c661b;
}

li.remove-btn{
    background-color: #ea4335;
    color:#0056b3#fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.3s;
}

li.remove-btn:hover{
    background-color: #b71c1c;
}


.comnpleted{
    text-decoration: line-through;
    color: #6c757d;
}